.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main{
  margin: auto;
  padding: auto;
  width: 70%;
}

.ta-l{
  text-align: left;
}

.tc-r{
  color:red;
}

table {
  border-color: white;
}
.fc-theme-standard td {
  border: 1px solid white;
}
.fc-theme-standard th {
  border: 1px solid white;
}
.fc-theme-standard .fc-scrollgrid {
  border: 1px solid white;
}

.fc-daygrid-day-events {
  display: flex;
  justify-content: center;
  margin: 0;
}
.fc-daygrid-event {
  color: #FFF !important;
  padding: 7px 18px;
  line-height: 1;
  border-radius: 28px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  font-size: 12px;
  text-align: center;
}

.fc .fc-daygrid-day-top {
  justify-content: center;
}
.fc .fc-daygrid-day-bottom {
  padding: 0;
}
/* .fc .fc-daygrid-day-bg {
  height: 0;
} */

.fc-day {
  background-color: #efefef;
}
.fc-day-sat {
  background-color: #c1e4e9;
}
.fc-day-sun {
  background-color: #f6bfbc;
}

.fc-day > .fc-daygrid-day-frame > .fc-daygrid-day-top > .fc-daygrid-day-number {
  color: #444;
}
.fc-day-sat > .fc-daygrid-day-frame > .fc-daygrid-day-top > .fc-daygrid-day-number {
  color: #3498db;
}
.fc-day-sun > .fc-daygrid-day-frame > .fc-daygrid-day-top > .fc-daygrid-day-number {
  color: #e74c3c;
}

.fc-day > .fc-scrollgrid-sync-inner > .fc-col-header-cell-cushion {
  color: #444;
}
.fc-day-sat > .fc-scrollgrid-sync-inner > .fc-col-header-cell-cushion {
  color: #3498db;
}
.fc-day-sun > .fc-scrollgrid-sync-inner > .fc-col-header-cell-cushion {
  color: #e74c3c;
}

.fc-daygrid-day-number {
  color: #555555;
  text-decoration: solid;
}
.fc-col-header-cell-cushion {
  color: #555555;
  text-decoration: solid;
}

.fc-event-title {
  text-align: center;
}

.fc-view-harness {
  border: 0;
}

.form-label{
  font-size: large;
  vertical-align: middle;
  margin-bottom: 0px;
}

.bg-white{
  background-color: #ffffff;
}
/* 
.bg-green{
  background-color: #33cc33;
}
.bg-red{
  background-color: #cc0000;
}
.bg-gray{
  background-color: #cccccc;
} */
